
/* Estilos para versiones móviles */
@media (max-width: 768px) {
  nav {
    padding: 0 10px; /* Reducir espaciado interno */
  }

  .nav-links {
    display: none; /* Ocultar en pantallas pequeñas */
  }

  .menu-bar {
    font-size: 28px; /* Tamaño de fuente */
    color: #000000; /* Texto negro */
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block; /* Muestra el botón del menú */
  }

  .actions {
    margin-top: 16px;
  }

  .theme-switch {
    display: none;
  }

  .theme-switch-mobile {
    display: inline-block;
  }
}
